<h2 class="mb-3">{{tituloPagina}}</h2>
<div class="row">
    <div class="col-md-3 col-sm-6 animate__animated animate__fadeIn d-flex mb-4" *ngFor="let contenido of resultados">
        <div class="card">
            <img [src]="urlImagenes + contenido.poster_path" [alt]="contenido.title" class="car-img-top">
            <app-stars class="mt-1" [numeroEstrellas]="contenido.vote_average"></app-stars>
            <div class="card-body">
                <h5 class="card-title">{{contenido.title}}</h5>
                <p class="card-text">{{contenido.release_date}}</p>
              </div>
        </div>
    </div>
</div>