<nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" style="margin-left: 20px;">
      <li class="nav-item">
      <li class="dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownPeliculas" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Peliculas
        </a>
        <div class="dropdown-menu position-absolute" aria-labelledby="navbarDropdownPeliculas">
          <a class="dropdown-item" [routerLink]="['peliculas','populares']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Populares</a>
          <a class="dropdown-item" [routerLink]="['peliculas','cartelera']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">En cartelera
            hoy</a>
          <a class="dropdown-item" [routerLink]="['peliculas','proximas']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Proximamente</a>
          <a class="dropdown-item" [routerLink]="['peliculas','top-rated']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Mejor
            valoradas</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownTV" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Programas de televisión
        </a>
        <div class="dropdown-menu position-absolute" aria-labelledby="navbarDropdownTV">
          <a class="dropdown-item"  [routerLink]="['series','populares']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Populares</a>
          <a class="dropdown-item"  [routerLink]="['series','emitenHoy']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Se emiten hoy</a>
          <a class="dropdown-item"  [routerLink]="['series','emitiendo']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">En televisión</a>
          <a class="dropdown-item"  [routerLink]="['series','top-rated']" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Mejor valorados</a>
        </div>
      </li>
    </ul>
  </div>
</nav>